<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.ahmedjazzar.rosetta">

<application android:supportsRtl="true">
    <activity
        android:name=".ProcessPhoenix"
        android:process=":phoenix"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
</application>
</manifest>
